body
	{
	background-color:LavenderBlush; <!-- فصل بهار -->
	background-color:#d6fdd6; <!-- فصل تابستان  -->
	background-color:#ffdb99; <!-- فصل پاییز -->
	background-color:#d7f6f6; <!-- فصل زمستان -->
	}